In [1]:
from pyarrow.parquet import ParquetFile
import pyarrow as pa 
import pandas as pd
from sqlalchemy import create_engine

In [10]:
# taxi_data = pd.read_parquet('./yellow_tripdata_2023-09.parquet', nrows = 100)

pf = ParquetFile('./yellow_tripdata_2023-09.parquet') 

# print(pf.schema.to_sql())
# for batche in pf.iter_batches():
#     print("RecordBatch")
#     df = batche.to_pandas()
#     df.to_sql('yellow_taxi', engine, if_exists='append', index=False)

first_ten_rows = next(pf.iter_batches(batch_size = 1)) 
df = pa.Table.from_batches([first_ten_rows]).to_pandas() 
# print(df)

In [6]:
print(df.to_sql)

<bound method NDFrame.to_sql of    VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2023-09-01 00:15:37   2023-09-01 00:20:21                1
1         2  2023-09-01 00:18:40   2023-09-01 00:30:28                2
2         2  2023-09-01 00:35:01   2023-09-01 00:39:04                1
3         2  2023-09-01 00:45:45   2023-09-01 00:47:37                1
4         2  2023-09-01 00:01:23   2023-09-01 00:38:05                1
5         2  2023-09-01 00:05:20   2023-09-01 00:46:57                3
6         1  2023-09-01 00:51:50   2023-09-01 01:10:21                0
7         1  2023-09-01 00:01:04   2023-09-01 00:18:36                1
8         2  2023-09-01 00:37:44   2023-09-01 00:52:24                2
9         2  2023-09-01 00:02:13   2023-09-01 00:07:12                1

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           0.80           1                  N           163           230
1           2.34           1                  N           236           233
2           1.62           1                  N           162           236
3           0.74           1                  N           141           229
4           9.85           1                  N           138           230
5          12.83           1                  N            93            75
6          10.90           1                  N            93           255
7           3.90           1                  N           140             7
8           2.70           1                  N            45           164
9           1.02           1                  N           238           236

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          6.5    3.5      0.5        0.00          0.00
1             1         14.2    1.0      0.5        2.00          0.00
2             1          8.6    1.0      0.5        2.00          0.00
3             1          5.1    1.0      0.5        1.00          0.00
4             1         45.0    6.0      0.5       17.02          0.00
5             2         55.5    1.0      0.5        0.00          6.94
6             1         41.5    1.0      0.5        3.00          0.00
7             1         20.5    3.5      0.5        6.35          0.00
8             1         16.3    1.0      0.5        4.26          0.00
9             1          7.9    1.0      0.5        2.58          0.00

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         11.50                   2.5         0.00
1                    1.0         21.20                   2.5         0.00
2                    1.0         15.60                   2.5         0.00
3                    1.0         11.10                   2.5         0.00
4                    1.0         73.77                   2.5         1.75
5                    1.0         67.44                   2.5         0.00
6                    1.0         47.00                   0.0         0.00
7                    1.0         31.85                   2.5         0.00
8                    1.0         25.56                   2.5         0.00
9                    1.0         15.48                   2.5         0.00  >

In [12]:
engine = create_engine("postgresql://root:root@localhost:5432/yellow_taxi")

In [13]:
# pd.io.sql.get_schema(df, 'yellow_taxi', con=engine)
pd.io.sql.get_schema(pa, 'yellow_taxi', con=engine)

AttributeError: module 'pyarrow' has no attribute 'columns'

In [23]:
print(df.head(0).to_sql('yellow_taxi', engine, if_exists='replace', index=False))

0